.chat-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.chat-content {
  background: #204660;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensure the child elements don't overflow the rounded corners */
}

.chat-title {
  background: #132a3a; /* Dark color */
  color: #fff;
  font-size: 18px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.chat-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.chat-messages-container {
  flex: 1;
  overflow-y: auto;
  margin: 0 10px 0 10px; /* Adjust margins to accommodate removed padding */
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  padding: 10px;
  max-height: 300px; /* Adjust height as needed */
  background: #204660; /* Same background as chat-content */
}

.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-message {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  max-width: 70%;
  word-wrap: break-word;
}

.chat-message.assistant {
  background: #f1f1f1;
  align-self: flex-start;
}

.chat-message.user {
  background: #10d48e;
  color: #fff;
  align-self: flex-end;
}

.chat-input-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: #132a3a;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.chat-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.chat-send {
  background-color: #10d48e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20%;
  cursor: po
}